<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Astronomy</h1>
            <span>University of Washington</span>
            <span><address>Seattle, WA</address><time>2011 to 2017 (expected)</time></span>
        </header>
        <p>
            <em>Thesis: Calibrating SPS models using resolved star and integrated light observations of galaxies.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.A. in Physics</h1>
            <span>Wellesley College</span>
            <span><address>Wellesley, MA</address><time>2008 to 2011</time></span>
        </header>
        <p>
            <em>Senior Project: Chemically distinct subpopulations in Globular Clusters.</em>
        </p>
    </article>
</section>
