<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Astronomy</h1>
            <span>University of Washington</span>
            <span><address>Seattle, WA</address><time>2017 (expected)</time></span>
        </header>
        <p>
            Thesis: Calibrating SPS models using resolved star and integrated light observations of galaxies.
        </p>
    </article>
    <article>
        <header>
            <h1>B.A. in Physics</h1>
            <span>Wellesley College</span>
            <span><address>Wellesley, MA</address><time>2011</time></span>
        </header>
        <p>
            Sigma Xi research honors; John Charles Duncan Prize in Astronomy
        </p>
        <p>
            Senior Project: Chemically distinct subpopulations in Globular Clusters.
        </p>
    </article>
</section>
