<section class="thirteen columns">
    <h1>Research Experience</h1>
    <article>
        <header>
            <h1>Calibrating SPS models using resolved star and integrated light observations of galaxies</h1>
            <span><address>University of Washington, Seattle</address><time>2014 to Present</time></span>
        </header>
        <p>Collaborators: Julianne Dalcanton (Adviser), Dan Weisz</p>
    </article>
    <article>
        <header>
            <h1>Integrating nebular emission model in SPS code FSPS</h1>
            <span><address>Harvard University</address><time>2013 to 2016</time></span>
        </header>
        <p>Collaborators: Charlie Conroy, Julianne Dalcanton.</p>
    </article>
    <article>
        <header>
            <h1>SPS codes in 2D: spectral fitting techniques for integral field spectroscopy</h1>
            <span><address>Kavli IPMU, Tokyo, Japan</address><time>Summer 2013</time></span>
        </header>
        <p>Collaborator: Kevin Bundy</p>
    </article>
    <article>
        <header>
            <h1>MaNGA Hardware Metrology</h1>
            <span><address> Instrumentation Shop, University of Washington </address><time>2013 to 2014</time></span>
        </header>
        <p>Collaborator: Nick MacDonald
        </p>
    </article>
    <article>
        <header>
            <h1>Constraints on Late-Stage Stellar Evolution using the Red Clump and AGB bump in M31</h1>
            <span><address>University of Washington, Seattle</address><time>2012 to 2014</time></span>
        </header>
        <p>Collaborators: Julianne Dalcanton, Phil Rosenfield.</p>
    </article>
</section>
