<section class="thirteen columns">
    <h1>Research Grants & Proposals</h1>
    <article>
        <header>
            <h1>As Science PI</h1>
        </header>
        <li><em>HST AR-14283</em>   Detangling Galaxy Spectra: A Baseline Calibration Using Resolved Stars (2015)</li></p>
        <li><em>Royalties Research Fund Grant</em>   Beyond stars: Modeling the light from galaxies (2015) </li>
        <li><em>MaNGA Ancillary Program</em>   MaNGA Resolved Stellar Populations (2015)</li>
        <li><em>NSF EAPSI Fellow</em>   Refining Stellar Population Synthesis Models (2013)</li>
    </article>
    <article>
        <header>
            <h1>As Co-I</h1>
        </header>
        <li><em>After-Sloan-IV proposal</em>   The Dynamic Ranger: A Multi-Scale Survey of Galaxies (2016)</li>
        <li><em>MUSE Observing Program</em>   A systematic multi-tracer study of HII regions in NGC 300 (PI MacLeod, 2016)</li>
    </article>
</section>
